.footer-section{
    background: #1a1a1a;
	padding-top: 140px;
}
.footer-box-wrapper{
    padding-bottom: 35px;
}
.copy-right-container{
    padding: 25px 0px;
    overflow: hidden;
	border-top: 1px solid #333;
}
.copy-right-text p{
    color: #ababab;
    margin: 0px;
    font-size: 16px;
    padding-top: 5px;
}
.copy-right-text p span a{
    color: #ff5200;
    font-weight: 700;
    margin: 0px;
}