@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a, a:hover{
    text-decoration: none !important;
}
ul, li, ol{
    list-style: none;
}
img{
    vertical-align: middle;
    outline: none;
}
h1, h2, h3, h4, h5, h6, a, p, ul, ol, li{
    margin: 0;
    padding: 0;
}
.brand-btn {
    background: #000;
    color: #fff;
    padding: 6px 0px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    transition: all linear .3s;
}

.brand-btn:hover {
    color: #FBD062;
}

.brand-btn:focus {
    outline: none;
}
.common-section-title{
    padding-bottom: 30px;
}
.common-section-title h2{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.common-section-title h2 span{
    color: #ff5200;
}
.footer-title h4{
    font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 20px;
}