.brand-btn {
    background: #000;
    color: #fff;
    padding: 6px 0px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    transition: all linear .3s;
}

.brand-btn:hover {
    color: #FBD062;
}

.brand-btn:focus {
    outline: none;
}